@import "lib/govuk-frontend/govuk/base";

body:not(.js-enabled) .js-visible {
  display: none;
}

.copy-to-clipboard {
  &.not-supported {
    display: none;
  }
  .copied-content {
    display: none;
  }
  &.copied-to-clipboard {
    .copied-content {
      display: inline;
    }
    .copy-content {
      display: none
    }
  }
}

.govuk-panel__title {
  padding: 0;
  @include govuk-media-query($from: 358px, $until: 484px) {
    padding: 0 60px;
  }
  @include govuk-media-query($from: 485px, $until: tablet) {
    padding: 0 130px;
  }
  @include govuk-media-query($from: desktop) {
    padding: 0 60px;
  }
}
