@import play.api.i18n.Messages
@import play.api.mvc.Request

@this(layout: uk.gov.hmrc.hecapplicantfrontend.views.html.Layout)

@()(implicit request: Request[_], messages: Messages)
@title = @{messages("iv.insufficientEvidence.title")}

@layout(pageTitle = Some(title)) {
  <h1 class="govuk-heading-xl">@title</h1>
  <p class="govuk-body">@{messages("iv.insufficientEvidence.p1")}</p>
  <p class="govuk-body">@{messages("iv.insufficientEvidence.p2")}</p>
  <p class="govuk-body"><a href="#" class="govuk-link">@{messages("iv.insufficientEvidence.link")}</a></p>
}
