@import play.api.i18n.Messages
@import play.api.mvc.Request
@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(layout: uk.gov.hmrc.hecapplicantfrontend.views.html.Layout, govukButton: GovukButton)

@()(implicit request: Request[_], messages: Messages)
@title = @{messages("iv.userAborted.title")}

@layout(pageTitle = Some(title)) {
  <h1 class="govuk-heading-xl">@title</h1>
  <p class="govuk-body">@{messages("iv.userAborted.p1")}</p>
  <p class="govuk-body">@{messages("iv.userAborted.p2")}</p>
  <p class="govuk-body">@{messages("iv.userAborted.p3")}</p>
  @govukButton(Button(
    content = Text("button.try-again"),
    href = Some("#")
  ))
}