@import play.api.i18n.Messages
@import play.api.mvc.{Call, Request}
@import play.twirl.api.Html
@import uk.gov.hmrc.hecapplicantfrontend.config.AppConfig

@this(layout: Layout)

@(back: Call)(implicit request: Request[_], messages: Messages, appConfig: AppConfig)
@title = @{messages("confirmIndividualDetailsExit.title")}

@layout(pageTitle = Some(title), backUrl = Some(back.url)) {
    <h1 class="govuk-heading-xl">@title</h1>
    <p class="govuk-body">@{messages("confirmIndividualDetailsExit.p1")}</p>
    <p class="govuk-body">@{Html(messages("confirmIndividualDetailsExit.p2", appConfig.signOutUrl))}</p>
}
