@import play.api.i18n.Messages
@import play.api.data.Form
@import play.api.mvc.{Call, Request}
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hecapplicantfrontend.controllers.routes
@import uk.gov.hmrc.hecapplicantfrontend.models.CompanyNameConfirmed
@import uk.gov.hmrc.hecapplicantfrontend.models.views.CompanyNameConfirmedOption

@this(layout: Layout, govukErrorSummary: GovukErrorSummary, govukRadios: GovukRadios, govukButton: GovukButton, formWithCSRF: FormWithCSRF)

@(form: Form[CompanyNameConfirmed], back: Call, companyName: String, options: List[CompanyNameConfirmedOption])(implicit request: Request[_], messages: Messages)
@key = @{"confirmCompanyName"}
@title = @{messages(s"$key.title")}
@radioOptions = @{options.zipWithIndex.map{ case (option, index) => RadioItem(
  content = Text(messages(s"$key.${option.messageKey}")),
  value = Some(index.toString),
  checked = form.data.values.toList.contains(index.toString)
)}}

@layout(pageTitle = Some(title), hasErrors = form.hasErrors, backLocation = Some(back)) {
  @if(form.errors.nonEmpty) {
    @govukErrorSummary(ErrorSummary(errorList = form.errors.map(e => ErrorLink(
      href = Some(s"#${e.key}"),
      content = Text(s"${messages(s"${e.key}.${e.message}")}")
    )), title = Text(messages("generic.errorSummary"))))
  }
  <h1 class="govuk-heading-xl">@title</h1>
  <p class="govuk-body-l">@companyName</p>
  @formWithCSRF(action = routes.CompanyDetailsController.confirmCompanyDetailsSubmit()) {
    @govukRadios(Radios(
      idPrefix = Some(key),
      name = key,
      items = radioOptions,
      errorMessage = form.error(key).map(e => ErrorMessage(
        content = Text(messages(s"$key.${e.message}"))
      ))
    ))
    @govukButton(Button(content = Text(messages("button.continue"))))
  }
}
