@import play.api.i18n.Messages
@import play.api.mvc.Request
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hecapplicantfrontend.controllers.routes
@import uk.gov.hmrc.hecapplicantfrontend.models.RetrievedApplicantData.IndividualRetrievedData

@this(layout: Layout, govukButton: GovukButton, govukSummaryList : GovukSummaryList, formWithCSRF: FormWithCSRF)


@(details: IndividualRetrievedData)(implicit request: Request[_], messages: Messages)
@title = @{messages("confirmIndividualDetails.title")}
@dob = @{details.dateOfBirth.value}

@layout(pageTitle = Some(title)) {
    <h1 class="govuk-heading-xl">@title</h1>
    <p class="govuk-body">@messages("confirmIndividualDetails.intro")</p>
    @govukSummaryList(SummaryList(
        rows = Seq(
            SummaryListRow(
                key = Key(
                    content = Text(messages("confirmIndividualDetails.firstName"))
                ),
                value = Value(
                    content = Text(details.name.firstName)
                )
            ),
            SummaryListRow(
                key = Key(
                    content = Text(messages("confirmIndividualDetails.lastName"))
                ),
                value = Value(
                    content = Text(details.name.lastName)
                )
            ),
            SummaryListRow(
                key = Key(
                    content = Text(messages("confirmIndividualDetails.dob"))
                ),
                value = Value(
                    content = Text(s"${dob.getDayOfMonth} ${messages(s"date.${dob.getMonthValue}")} ${dob.getYear}")
                )
            )
        )
    ))

    <p class="govuk-body">
        <a class="govuk-link" href="@{routes.ConfirmIndividualDetailsController.confirmIndividualDetailsExit().url}">@messages("confirmIndividualDetails.link")</a>
    </p>

    @formWithCSRF(action = routes.ConfirmIndividualDetailsController.confirmIndividualDetailsSubmit()) {
        @govukButton(Button(content = Text(messages("button.confirm"))))
    }
}
