@import cats.syntax.eq._
@import cats.instances.string._
@import uk.gov.hmrc.hecapplicantfrontend.config.AppConfig
@import uk.gov.hmrc.hecapplicantfrontend.controllers.routes
@import views.html.helper.CSPNonce
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers._

@import play.api.i18n.Messages
@import play.api.mvc.{Call, Request}
@import play.twirl.api.Html

@this(
        appConfig: AppConfig,
        govukLayout: GovukLayout,
        govukPhaseBanner : GovukPhaseBanner,
        govukBackLink: GovukBackLink,
        hmrcHead: HmrcHead,
        hmrcStandardHeader: HmrcStandardHeader,
        hmrcStandardFooter: HmrcStandardFooter,
        hmrcScripts: HmrcScripts,
        hmrcLanguageSelectHelper: HmrcLanguageSelectHelper,
        hmrcReportTechnicalIssueHelper: HmrcReportTechnicalIssueHelper,
        hmrcTimeoutDialogHelper: HmrcTimeoutDialogHelper
)
@(pageTitle: Option[String] = None,
  headBlock: Option[Html] = None,
  scriptsBlock: Option[Html] = None,
  backLocation: Option[Call] = None,
  hasErrors: Boolean = false,
  showSignOutLink: Boolean = true
)(contentBlock: Html)(implicit request: Request[_], messages: Messages)


@head = {
    @headBlock.getOrElse(Html(""))
    @if(showSignOutLink) {
        @hmrcTimeoutDialogHelper(
            title = Some(messages("hmrc-timeout-dialog.title")),
            signOutUrl = appConfig.signOutUri,
            timeoutUrl = Some(routes.SignOutController.signOutFromTimeout().url),
            countdown = Some(10),
            timeout = Some(30)
        )
    }
    <style @{CSPNonce.attr} media="all">
            .js-visible { display: none; }
            .js-enabled .js-visible { display: inline; }
    </style>
}

@beforeContentBlock = {
    @govukPhaseBanner(PhaseBanner(
        tag = Some(Tag(
            content = Text(messages("service.phase"))
        )),
        content = HtmlContent(messages("phaseBanner.text", appConfig.betaFeedbackUrl))
    ))
    @backLocation.filter(_.url =!= routes.StartController.start().url).map(back => govukBackLink(BackLink(href = back.url, attributes = Map("id" -> "back"))))
    @{if(appConfig.welshLanguageSupportEnabled) Some(hmrcLanguageSelectHelper()) else None}
}

@content = {
    <div class="govuk-!-margin-bottom-6">
        @contentBlock
    </div>

    @hmrcReportTechnicalIssueHelper()
}

@serviceNameAndHeading = @{pageTitle.fold(messages("service.name"))(t => s"""$t - ${messages("service.name")}""")}
@govTitle = @{serviceNameAndHeading + " - " + messages("gov.uk")}
@documentTitle = @{if(hasErrors) { messages("generic.errorPrefix") + " " + govTitle } else { govTitle }}

@govukLayout(
    pageTitle = Some(documentTitle),
    headBlock = Some(hmrcHead(headBlock = Some(head), nonce = CSPNonce.get)),
    headerBlock = Some(hmrcStandardHeader(signOutUrl = if(showSignOutLink) Some(appConfig.signOutUri) else None)),
    scriptsBlock = Some(hmrcScripts(scriptsBlock = scriptsBlock, nonce = CSPNonce.get)),
    beforeContentBlock = Some(beforeContentBlock),
    footerBlock = Some(hmrcStandardFooter())
)(content)
